/* HTML */
html{
    font-size: 16px;
    font-family: "lato", sans-serif ;
}
/* Body */
body{
    margin: 0;
}
/* section à propos */
.sectionApropos{
    background-color: #f7f7f7;
}
.textCenter{
  text-align: center;
}
.heading{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
     /* de gauche à droite dégradé */
    background-image: linear-gradient(to right, #373737, #C0B283);
   /* faire un dégradé uniquement sur le titre */
    -webkit-background-clip: text;
    color: transparent;
    /*espace entre chaque caractéres*/
    letter-spacing: 0.2rem;
    transition: all 0.2s;
    margin-top: 15px;
}
.heading:hover{
    /* faire une distortion du titre sur les axes x et y et un zoom de 1.1 */
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0,0,0,0.2) ;
}
.headingText{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.margBotSm{
    margin-bottom: 1.5rem;
}
.paragraphe{
    font-size: 1.6rem;
    margin-bottom: 3rem;
}
.btn-text{
    font-style: 1.6rem;
    color: #373737;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #C0B283;
    padding: 3px;
    transition: all 0.2s;
}
.btn-text:hover{
    background-color: #373737;
    color: #C0B283;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.15) ;
    transform: translateY(-2px);
}
.btn-text:active{
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    transform: translateY(0);
}
/* info Rem => prends comme réference la taille de l'élement parent ici la font-size de html ou par défaut l'élement :root*/
/* em => prends comme réference la taille de l'élement :root */
/* :root => élément qui répresente la racine du document */

/* positionnement flex */
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
    margin: 0 auto;
    height: 51rem;
}
.row .doubleCol{
    /* définir taille des colonnes avec calc */
    width: calc((100% - 6rem)/2);
    margin: 5rem;

}

/* section images */
.composition{
    position: relative;
    margin-top: 2.8rem;
}
.composition__photo{
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
    border-radius: 2px;
    position: absolute;
    z-index:10;
    transition: all 0.2s;
    /* On décales la ligne de 2rem */
    outline-offset: 2rem;
}
.composition__photo--p1{
    left: 0;
    top: -2rem;
}
.composition__photo--p2{
    right: 0;
    top:2rem;
}
.composition__photo--p3{
    left: 20%;
    top: 10rem;
}
.composition__photo:hover{
    outline: 1.5rem solid #C0B283;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0,0,0,0.5);
    z-index:20;
}
.composition:hover .composition__photo:not(:hover){
    transform: scale(0.95);
}

/* responsive du site media queries*/

@media(min-width: 992px){
    .heading{
        font-size: 2.5rem;
    }
    .row{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 80rem;
        height: 75px;
        margin-top: 4rem;
    }
    .row .doubleCol{
        width: 30rem;
        margin: 0 auto;
    }
    /* on prends le 2éme enfant du doubleCol */
    .row .doubleCol:nth-child(2){
        padding-top: 5rem;
    }
}